body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* ENCABEZADO */
.header {
  background: linear-gradient(90deg, #2c3e50, #4b6584);
  color: white;
  text-align: center;
  padding: 25px;
}

.header h1 {
  margin: 0;
}

/* CARRUSEL */
.carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: none;
}

.active {
  display: block;
}